.advantages-section {
	padding-bottom: 0;
}

.advantages-list {
	margin-left: -30px;
	margin-top: -30px;
	display: flex;
	flex-wrap: wrap;
}

.advantages-item {
	flex-basis: calc(100% / 4 - 30px);
	margin-left: 30px;
	margin-top: 30px;
}

.advantages-icon {
	margin-bottom: 30px;
	background-color: var(--secondary-bg-color);
	width: 270px;
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
}

.advantages-title {
	margin-bottom: 10px;
	color: var(--primary-text-color);
	font-size: 14px;
	font-weight: 700;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.advantages-description {
	color: var(--secondary-text-color);
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
}